@model DomainPsr03951.Models.Rejoint

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Rejoint</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idUser)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.IdGroup)
            </th>
            
        </tr>
    </thead>
    <tbody>
        
        <tr>
            <td>
                @Html.DisplayFor(model => model.IdGroup)
            </td>

            <td>
                @Html.DisplayFor(model => model.idUser)
            </td>

        </tr>
        
    </tbody>
</table>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
