@model IEnumerable<DomainPsr03951.Models.Rejoint>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idUser)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.IdGroup)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in ViewBag.userPerGroup)
{
        <tr>
            <td>
                @item.idUser
            </td>
          
            <td>
               @item.IdGroup
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id=item.idUser }) |
                @Html.ActionLink("Details", "Details", new { id = item.idUser }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.idUser })
            </td>
        </tr>
}
    </tbody>
</table>
